<form class="search-form" [formGroup]="form" (ngSubmit)="submit()">
  <app-input
    class="search-input"
    formControlName="query"
    label="Buscar por ID ou E-mail"
    placeholder="Digite o ID ou e-mail do contato">
  </app-input>

  <div class="actions">
    <app-button
      type="submit"
      label="Buscar"
      [disabled]="!canSearch">
    </app-button>

    <app-button
      type="button"
      label="Apagar"
      [disabled]="!canClear"
      (click)="clear()">
    </app-button>
  </div>
</form>
