<mat-form-field [appearance]="appearance">
  <mat-label>{{label}}</mat-label>

  <ng-container *ngIf="!multiline; else multilineField">
    <input
      matInput
      [type]="type"
      [placeholder]="placeholder"
      [value]="value"
      [disabled]="disabled"
      (input)="handleInput($event)"
      (change)="handleChange($event)"
      (blur)="handleBlur()"
    >
  </ng-container>

  <ng-template #multilineField>
    <textarea
      matInput
      [rows]="rows"
      [placeholder]="placeholder"
      [value]="value"
      [disabled]="disabled"
      (input)="handleInput($event)"
      (change)="handleChange($event)"
      (blur)="handleBlur()"
    ></textarea>
  </ng-template>
</mat-form-field>
