<mat-form-field [appearance]="appearance">
  <mat-label>{{label}}</mat-label>
  <input matInput
  matInput
    [type]="type"
    [placeholder]="placeholder"
    [value]="value"
    [disabled]="disabled"
    (input)="handleInput($event)"
    (blur)="handleBlur()"
  >

  <textarea
    *ngIf="multiline"
    matInput
    [rows]="rows"
    [placeholder]="placeholder"
    [value]="value"
    [disabled]="disabled"
    (input)="handleInput($event)"
    (blur)="handleBlur()"
  ></textarea>
</mat-form-field>
