<form [formGroup]="form" (ngSubmit)="submit()">
  <app-input
  formControlName="name"
  label="nome">
</app-input>

  <app-input
  formControlName="email"
  label="E-mail">
</app-input>

<app-input
  formControlName="subject"
  label="Assunto">
</app-input>

<app-input
  formControlName="message"
  label="message"
  [multiline]="true"
  [rows]="4"
  >
</app-input>


  <app-button
      matTooltip="Há campos incorretos no formulário"
      matTooltipPosition="left"
      class="submit-button"
      type="submit"
      label="Enviar mensagem"
      [disabled]="form.invalid || loading">
    </app-button>
</form>


<app-loading [isLoading]="loading"></app-loading>
